p {
	font-family: "Titillium Web", "sans-serif";
}
a {
	color: #e4c100;
}
.Arwes-main-0-1-5 {
	overflow-y: hidden !important;
	overflow-x: hidden;
}
.panel {
	width: 1600px;
	height: auto;
	transform: translate(200px, 150px);
}
.navWrapper {
	width: 100%;
	position: fixed;
	padding: 10px 15px;
}
.navStyle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.headerStyle {
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.85);
	text-transform: uppercase;
	margin: 0;
}
.sideNav {
	height: 100%;
	width: 100px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 100px;
	background-color: transparent;
}
.sideNav .ArwesSounds\(Button\)-button-0-1-23 {
	width: 100px;
	height: 100px;
}
.sideNav .ArwesSounds\(Button\)-root-0-1-22 {
	position: relative;
	text-align: center;
}
.sidenav-btn .link-icon {
	font-size: 2rem;
	display: block;
}
.home-card {
	width: 400px;
	display: block;
}
.home-card-grid {
	display: flex;
	flex-direction: column;
}
.home-card-grid .ArwesSounds\(Button\)-button-0-1-23 {
	margin: 0 0 0 auto;
}
.brief-grid {
	width: 100%;
	display: flex;
}
.treatment-card {
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr auto;
	padding: 10px;
	grid-gap: 10px;
}
.form-style {
	padding: 20px;
}
.form-input {
	height: 30px;
	background-color: none;
	background-image: none;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.multiline {
	height: 100px;
	width: 500px;
}
